.textarea {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    align-items: center;
}

.grid{
    align-items: center;
    justify-content: center;
}